.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .headerContainer {
    width: auto;
    margin-left: 50px;
  }
  
  .headerContainer h1 { /* Welcome to our App */
    justify-content: center;
    align-items: center;
    font-size: 60px;
    height: 30px;
    font-weight: 60;
    color: rgb(255, 255, 255);
  }
  
  .headerContainer p { /* Ana */
    padding: 0;
    font-size: 30px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
  }
  
  .headerContainer button {
    color: rgb(93, 37, 196);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #847fdb; /* Search it -> Box  */
    height: 35px;
    width: 160px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .headerContainer button:hover {
    background-color: #9617d5;
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
  
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #6a0da8;
      color: white;
    }
  
    .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .headerContainer p {
      font-size: 30px;
      color: white;
    }
  
    .headerContainer button { /* Search it -> Box*/
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }